<% assign_meta_tags title: '',
                    image: {_: image_url('jiro_2.png'), width: 1200, height: 630}%>

<div class="main">
  <div class="title">
    <h1><span style="color: #CE2121;">ラーメン</span>二郎</h1>
    <h1>ボタン</h1>
  </div>
  <div class="button-area">
    <%= link_to "https://twitter.com/share?url=https://jiro-button.herokuapp.com/buttons/first/&text=行きたい !　#二郎ボタン ", target: :_blank do %>
      <div class="button">
        <h3>行きたい ! </h3>
      </div>
    <% end %>
    <br>
    <%= link_to "https://twitter.com/share?url=https://jiro-button.herokuapp.com/buttons/second/&text=誰か行こ !　#二郎ボタン", target: :_blank do %>
      <div class="button">
        <h3>誰か行こ ! </h3>
      </div>
    <% end %>
    <br>
    <%= link_to "https://twitter.com/share?url=https://jiro-button.herokuapp.com/buttons/third/&text=今日も一日。　#二郎ボタン", target: :_blank do %>
      <div class="button">
        <h3>今日も一日。</h3>
      </div>
    <% end %>
    <br>
    <%= link_to "https://twitter.com/share?url=https://jiro-button.herokuapp.com/buttons/fourth/&text=ご馳走様でした !　#二郎ボタン ", target: :_blank do %>
      <div class="button">
        <h3>ご馳走様でした !</h3>
      </div>
    <% end %>
  </div>
</div>