<% assign_meta_tags title: ''%>

<div class="main">
  <div class="title">
    <h1><span style="color: #CE2121;">ラーメン</span>二郎</h1>
    <h1>ボタン</h1>
  </div>
  <ul class=“subtitle”>
    <li class="slash">＼</li>
    <li class="contents">
      ボタンを押すと<br>Twitterに投稿できるよ !
    </li>
    <li class="slash">／</li>
  </ul>
  <div class="button-area">
    <%= link_to "https://twitter.com/share?url=https://www.jiro-button.com/buttons/first/&text=行きたい!%20%23二郎ボタン%20 ", target: :_blank do %>
      <div class="button">
        <h3>行きたい ! </h3>
      </div>
    <% end %>
    <br>
    <%= link_to "https://twitter.com/share?url=https://www.jiro-button.com/buttons/second/&text=誰か行こ!%20%23二郎ボタン%20", target: :_blank do %>
      <div class="button">
        <h3>誰か行こ ! </h3>
      </div>
    <% end %>
    <br>
    <%= link_to "https://twitter.com/share?url=https://www.jiro-button.com/buttons/third/&text=今日も一日。%20%23二郎ボタン%20", target: :_blank do %>
      <div class="button">
        <h3>今日も一日。</h3>
      </div>
    <% end %>
    <br>
    <%= link_to "https://twitter.com/share?url=https://www.jiro-button.com/buttons/fourth/&text=ご馳走様でした!%20%23二郎ボタン%20 ", target: :_blank do %>
      <div class="button">
        <h3>ご馳走様でした !</h3>
      </div>
    <% end %>
  </div>
</div>